.left-side {
  margin-top: 30px;
  margin-left: 10%;
}

footer {
  background-color: rgba(0, 0, 0, 0.865);
  display: flex;
  position: relative;
  z-index: 1;
}

footer img {
  margin-top: 50px;
  height: 80px;
  border-radius: 100%;
}

.footer-links {
  margin: 40px 0px;
  display: flex;
}

.footer-links div {
  margin-right: 60px;
}

.footer-links h3 {
  color: #ffff;
  margin-bottom: 20px;
}

.footer-links p {
  color: #c9c9c9;
  margin-bottom: 5px;
}

.right-side {
  margin-top: 80px;
  position: relative;
  left: 20%;
}

.form {
  display: flex;
  flex-direction: column;
  width: 55%;
}

.form h2 {
  margin-bottom: 20px;
  color: #ffff;
}

.form input {
  margin-bottom: 20px;
  background-color: transparent;
  height: 30px;
  font-size: 20px;
}

.form Button {
  margin-top: 20px;
}

.icons {
  margin: 60px 0px;
}

.fa-brands {
  margin-right: 40px;
  height: 50px;
  color: white;
}
